/* CSS Document */

body {
	
	background: url('../images/space.jpg') no-repeat center center fixed;
	background-size: cover;
}




h1 {
	
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align: center;
	color: white;
	
}


